.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    height: 100vh;
    background-color: #041417
    ;
}

.contents {
    position: relative;
    z-index: 11;
}

.contents h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.5rem;
    font-weight: 500;
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;

}
.contents p {
    color: white;
    font-weight: 500;
    padding: 2rem 0;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    padding: 1.5rem 2rem;
    margin: 0 1rem;
    background-color: transparent;
    border: solid white 1px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: 0.25s background-color;
}

.buttons button:hover {
    background-color: white;
    color: black;
    transition: 0.25s background-color;
    cursor: pointer;
}

.video {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
